<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../static/nutribabalogonew.png">
    <title>NutriBABA</title>

    <!-- javascripts for pie chart  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <!-- javascript for image preview  -->
    <script type='text/javascript'>
        function preview_image(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
    <style>
        p {
            letter-spacing: -1px;
            text-transform: uppercase;
            text-align: center;
        }

        h1 {
            font-size: xxx-large;
            color: darkgreen;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .panel {
            border: black;
            border-style: solid;
            border-width: 2px 5px 2px 5px;

        }
    </style>
</head>

<body>

    <!-- navbar starts -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-image: url('../static/navbg.png'); ">
        <header role="banner">
            <a href="#">
                <img style="height: 100px; width: 120px; padding-right: 5%;" src="../static/nutribabalogonew.png"
                    alt="YUMMEALS" />
            </a>
        </header>
        <button style="background-color: white;" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span style="background-color: white;" class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a style="color: white; font-size: 20px; margin-right: 10px;" class="nav-link" href="/">HOME <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="color: white; font-size: 20px; margin-right: 10px;" class="nav-link"
                        href="/trackfood">TRACK-FOOD</a>
                </li>
                <li class="nav-item">
                    <a style="color: white; font-size: 20px; margin-right: 10px;" class="nav-link"
                        href="/mybmi">MY-BMI</a>
                </li>
            </ul>
            {% if session['email'] %}
            <a style="margin-right: 10px;" class="btn btn-primary" href="/logout" role="button">Logout</a>
            {% else %}
            <a style="margin-right: 10px;" class="btn btn-primary" href="/login" role="button">Login</a>
            <a style="margin-right: 10px;" class="btn btn-warning" href="register" role="button">Register</a>
            {% endif %}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- navbar ends  -->

    <!-- this condition is to check whether the user is logged in or not  -->
    {% if session['email'] %}
    <br><br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div style="background-color: #85dcb8;" class="col-sm-10">
            <center>
                <br>
                <img src="../static/nutribabaicon.png"
                    style="height: 200px; width: 220px; margin-top: 15px; margin-bottom: 15px;" alt="...">
                <h2>TRACK FOOD</h2>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <h1>01</h1>
                        <p>Click a Picture of Your Food</p>
                        <br>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <h1> 02</h1>
                        <p>Upload the Picture</p>
                        <br>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <h1>03</h1>
                        <p>Know the Nutrients Present</p>
                        <br>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br>
            </center>
            <center>

                <!-- this form takes image as an input and displays a preview of it before the submittion  -->

                <form action="/upload_img" method="POST" enctype="multipart/form-data">
                    <br><br>
                    <div id="wrapper">
                        <input type="file" name='foodimg' accept="image/*" onchange="preview_image(event)"><br>
                        <img id="output_image" style="width: 50%;height: 50%;" />
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Upload</button>
                    <br><br>
                </form>

                <!-- the below section is to be displayed only when any image is searched, hence the below if condition looks after that  -->
                <!-- the variable "msg" is passed as a parameter from the python file after a successfull search -->

                {%if msg%}
                {%if msg==0%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Something went wrong!</strong> you can try again in 10 secs.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {%elif msg['meta']['nutrients']==0%}
                <br><br>
                <h3>Food Name : <i>{{msg['meta']['fooditem']}}</i> </h3><br>
                <p style="color: red;">The Uploaded Photo Must Contain a Food Item</p>
                <br><br><br>
                {%else%}
                <br><br>
                <h3>Food Name : <i>{{msg['meta']['fooditem']}}</i> </h3><br>
                <!-- <h3>Contains : {{msg['meta']['nutrients']}} Nutrients</h3><br> -->
                <p>The recognized food item contains the following nutrients.</p>
                <div class="container">
                    <div class="chart" id="piechart" style="width: auto; border: black;border-width: 2px;">
                        <script style="width: auto;">
                            var graphs = {{plot | safe}};
                            Plotly.plot('piechart', graphs, {});
                        </script>
                    </div>
                    <br>
                    <p>Note : to exclude any nutrient from the pie chart click on their colored squares</p>

                    <br>
                    <h6>LIST OF ALL NUTRIENTS AND THEIR AMOUNTS PRESENT PER 100 GMs OF SERVING</h6><br>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">




                            {%set a=1%}
                            {%for data,value in msg.items()%}

                            {%if data=='meta'%}

                            {%elif data=='Essentials'%}

                            {% for i,j in value.items() %}
                            <div class="panel">
                                <div class="panel-body">

                                    <p style="text-align: left; margin-left: 6%;"><b>{{i}}</b></p>
                                    <h6 style="text-align: right;  margin-right: 6%;">{{j}}</h6>

                                </div>
                            </div>

                            {%endfor%}

                            {%else%}
                            <div class="panel" data-toggle="collapse" data-target="#{{data}}" aria-expanded="false"
                                aria-controls="collapseExample">
                                <div class="panel-body">
                                    <p style="text-align: left; margin-left: 6%;"><b>{{data}}</b>&nbsp;(Click to Expand)
                                    </p>
                                    <h6 style="text-align: right;  margin-right: 6%;">{{value['total']}}</h6>
                                </div>
                            </div>
                            <div class="collapse" id="{{data}}">

                                <table style="width: 80%;" class="table table-hover">
                                    <tbody>
                                        {% for i,j in value.items() %}
                                        {%if i=='total'%}
                                        {%else%}
                                        <tr>



                                            <td>{{i}}</td>

                                            <td>
                                                <center>{{j}}</center>
                                            </td>

                                        </tr>

                                        {%endif%}
                                        {%endfor%}
                                    </tbody>
                                </table>

                            </div>

                            {%endif%}
                            {%endfor%}
                            <br><br>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endif%}
            </center>
            <br>
            <div style="background-color: lightcyan;" class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <h3
                            style="font-family: 'Raleway',sans-serif; font-size: 25px; font-weight: 500; line-height: 36px;  text-align: center;">
                            KNOW MORE ABOUT NUTRITION AND HEALTH &emsp;&emsp;&emsp;
                            <a href="/nutrition" class="btn btn-outline-success" role="button" aria-pressed="true">Click
                                Here</a>
                        </h3>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <br>
            </div>
            <br><br>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br><br>

    {% else %}

    <!-- if the user is not logged, this will specify him/her to login  -->
    <br><br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div style="background-color: yellow;" class="col-sm-4">
            <center>
                <br>
                <img src="../static/loginrequiredlogo.png"
                    style="height: 220px; width: 200px; margin-top: 15px; margin-bottom: 15px;" alt="...">
                <br><br>

                <H1 style="color: red;">LOGIN REQUIRED!</H1><br>
                <a style="margin-right: 10px;" class="btn btn-primary" href="/login" role="button">Login</a>
                <br><br>
            </center>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <br><br><br><br><br>
    {% endif %}

    <footer style="background-color:#191970;" class="page-footer font-small">
        <div style="color: white;" class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://nutribaba.apps.pcfdev.in//">nutribaba.apps.pcfdev.in</a>| All rights reserved |
            <a href="/termsconditions" target="_blank">Terms of Service </a> | Privacy
        </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>
